/* 
    General Styles
*/
body{
    background-color: white;
}

.navbar img{
    height: 100px;
    width:130px ;
    background-color:white;
}
.entry-button{
    background-color: red;
    color: white;
    margin-right: 100px;
    height: 5px;
}
.contactanos{
    margin-right: 100px;
}
.contactanos, .listocare, .productos{
    margin: 0 5px 0 5px;
    border: transparent;

}
.card-title{
     font-size:80px;
     color:grey;
}
.card-text{
    font-size: 30px;
    color:grey;
    margin-right: 600px;
}