/* 
    General Styles
*/
body{
    background-color: white;
}

.navbar img{
    height: 100px;
    width:100px ;
    background-color:white;
}
.entry-button{
    background-color: red;
    color: white;
    margin-right: 100px;
    height: 5px;
}
.contactanos{
    margin-right: 100px;
}
.contactanos, .listocare, .productos{
    margin: 0 5px 0 5px;
    border: transparent;

}
div{
    border: 1px solid grey;

}
.consultorio{
    background-color: red;

}
.parrafo_superior{
    background-color:transparent;
    color: grey;
    text-align: left;
}
div.a{
    text-align: left;
}
#mypic{
    position: absolute;
right: 0%;
background-color:white;
bottom:10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.p2{
    text-align:left;
    color:grey;
    margin-right: 800px;

}
.Registrate{
    text-align: center;
    margin-right: 1000px;
    background-color: red;
    color: white;
    height: 20px;
    
}