/* 
    General Styles
*/
body{
    background-color: white;
    //  background-image: url("https://wallpaperplay.com/walls/full/2/4/b/176845.jpg");
}

.logo{
        max-width: 100%;
        max-height: 100%;
        display: block; 
}
.navbar .brand{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
    padding:0px;
}

.navbar button{
    background-color: rgb(11, 103, 116);
    color: rgb(255, 246, 246);
    font-size: 1.2rem;
    padding: 8px;
    border-radius: 10px;
    
}
.row{
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: 540px;
    padding: 30px;
}
.text-center{
    color:rgb(11, 103, 116);
}

}
.contactw{
    background-color: grey;
}
.entry-button{
    background-color : rgb(185, 47, 47);
    color: white;
    margin-right: 100px;
    padding: 8px;
    font-size: 1.2rem;
    border-radius: 10px;
}
.contact{
    padding:300px;
    margin-top:100%;
    
}
.contactanos{
    margin-right: 100px;
    color: red;
}
.contactanos, .listocare, .productos{
    margin: 0 5px 0 5px;
    border: transparent;

}
.card-title{
     font-size:80px;
     color:rgb(11, 103, 116);
     border:transparent;
     margin-bottom : 50px;
     margin-top: 50px;
}
.card-text{
    font-size: 30px;
    color:rgb(12, 56, 52);
    margin-right: 600px;
}
.Registrate{
    background-color: rgb(185, 47, 47);
    color:white;
    margin-left: 350px;
    transform:translate(-50%,-100%);
     background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position:absolute;
    top:72%;
    padding: 10px 45px;
    border-radius: 20px;

}

.phone{
    z-index: 10000;
    height: 30rem;
    width: 350px;
    background-color: transparent;
    background-image: url("../img/phone.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position:absolute;
    top:50%;
    right:0;
    // margin-left: 1250px;
    transform:translate(-20%,-220%);
}
.lastdiv{
    background-color:blue;
    margin-right:1000px;
    top:50%;
}
.somos{
    background-image: url("../img/2.png");
     background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 30rem;
}
.servicios{
    background-image: url("../img/3.png");
     background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 30rem; 
}
// .video{
//     background-image:url("../vid/video.mp4");
//      background-position: center;
//     background-size: contain;
//     background-repeat: no-repeat;
//     width: 100%;
//     height: 30rem; 

// }
.miniparag{
    margin-left: 200px;
    color:red;
}

.info-p{
    color:red;
    margin-left: 400px;

}
.table{
    margin: 5px;
    margin-left:250px;
    width:500px;
}
.log_bg{
    background-color: lightblue;
}
   
.Last_name{
    // margin-left: 1000px;
    height: 30px;
    color:red;
    size: 5px;
    border: 2px;
    display:block;
    border-radius: 5px;
    
}
.last_name_input{
    // display:block;
    // margin-left: 20px;
}
.input{
    padding: 5px;
    margin: 20px;
    width: 600px;
}

.EMAIL{
margin-left: 80px;    
color: red;
size: 10px;
border: 2px;
top:80px;

}
.contactus.row{
    margin-left:500px;
    padding:20px;
}
.Submit{
    margin-left: 1160px;
    background-color: red;
    color: white;
    display:flex;
    border-radius: 5px;
}
.contactanos-parent{
    margin:10px;
    margin-left: 250px;
    color: rgb(26, 126, 121)
}

.background-img {
    // background-image: url("https://www.gannett-cdn.com/-mm-/5c2bfbdf14400fab7e5b95d07eae2b211a07ad2f/c=0-74-2179-1300/local/-/media/2020/03/17/USATODAY/usatsports/MotleyFool-TMOT-ccac1e58-ventilatormask.jpg?width=1600&height=800&fit=crop&format=pjpg&auto=webp");
    background-repeat: no-repeat;
    height: 100vh;
    background-color: lightblue;
    bottom: 500px;

    

}
    
.card{
    background:transparent;
}
.login-form input{
    border-radius: 15px;
    width:300px;
    border: 2px solid darkgrey;
    box-shadow: 2px 3px 10px lightgrey;

}



.b-login{
    background-position: center;
}
.login-page{
    width: 360px;
    padding: 10px 0 0;
    margin: auto;
    top: 400px;
}
input{
    padding: 10px;
    margin: 5px;
    width: 500px;

}
.home{
    background: transparent;
    // background-image: url("https://wallpaperplay.com/walls/full/2/4/b/176845.jpg");

}
.home div{
    background: white;
    border:1px solid lightblue;
    color: rgb(103, 132, 219);
    width: 500px;
    height: 80px;
    margin: 20px auto;
    justify-content: center;
    font-size: 2rem;
    box-shadow: 5px 5px 10px grey;
    border-radius: 15px;
    display:flex;
    align-items: center;
    
}
.patients{
    background-color: transparent;
}
.Diagnostic div{
    background-color: transparent;
    
}
.staff_info{
    background-color: transparent;
    border: red;
}
.treatment{
    background-color: lightblue;
    align-items: center;
    top: 60px;
    
}
.treatment div{
    border-radius: 15px;
    
}
.imagen_fondo{
    // background-image: url("https://wallpaperplay.com/walls/full/2/4/b/176845.jpg");
    background-repeat: no-repeat;
    height: 100vh;
    width: 360px;
    padding: 10% 0 0;
    margin: auto;
    top: 400px;
    display: flex;
}
.navbar{
    height: 100px;
}
.Diagnos_bg{
    background-color: lightblue;
}
.home_bg{
    background-color: lightblue;
}
.patient_bg{
    background-color: lightblue;
}
.staff_bg{
    background-color: lightblue;}
.createacc_title{
    text-align: center;
    color: red;
}
.Log_title{
    text-align: center;
    color: red;
   
}
.staff_title{
    text-align: center;
    color: red;
}
.tratamiento_title{
    text-align: center;
    color: red;
}
.patient_title{
    text-align: center;
    color: red;
}
.Diagnostic_title{
    text-align: center;
    color: red;
}